body 
{
    font-family:Verdana;
    margin:3px;  
    height:100%;  
}
img
{
    border-width:0px;
}
a.inline
{
    color:Navy;
    font-weight:bold;
    }
a.inline:hover
{
    color:blue;
        }
td div
{
    font-weight:normal;
    font-size:smaller;
}
a img
{
    border-width:0px;
    }

/*----------------  list table -----------------------*/
table.listtable
{
	width:100%;	
	background-color: #B1F69F;
	text-align:left;
}

tr.listheader 
{
	background-color: #B1F69F;
	color:#E6FFE6;	
}

td.listheader
{
	background-color: #B1F69F;
	color:Black;
	text-align:center;
}

tr.content 
{
	background-color: #BFFFBF;
	color:black;
}

td.content
{
	
}
tr.footer
{
	background-color: #60BF60;
	color:white;
}
td.footer
{
	background-color: #60BF60;
	color:white;
}
/*----------------end list table --------------------*/
/*----------------Edit table ------------------------*/
span.rc /*a sign for required fields*/
{
	color:Red;
	}
span.editcomment /*some field comment like max size or format */
{
	font-size:smaller;
	color:Gray;
	}
table.edittable
{
	width:100%;	
	background-color: #B1F69F;
}

tr.editheader, table.mainTab tr.editheader 
{
	background-color: #B1F69F;
	color:#E6FFE6;	
}

td.editheader, th.editheader, table.mainTab td.editheader, table.mainTab th.editheader
{
	background-color: #B1F69F;
	color:Black;
	text-align:center;
	padding:3px;
}

tr.editcontent, table.mainTab tr.editcontent
{
	background-color: #BFFFBF;
	color:black;
}

td.editlabel, table.mainTab td.editlabel
{
	background-color: #BFFFBF;
	color:black;
	text-align:right;	
	padding:3px;
}
td.editvaluem, table.mainTab td.editvalue
{
	background-color: #BFFFBF;
	color:black;
	text-align:left;
	padding:3px;
}
tr.editfooter, table.mainTab tr.editfooter
{
	background-color: #B1F69F;
	color:black;	
}
td.editfooter, table.mainTab td.editfooter
{
    padding:5px 3px 5px 3px;
	background-color: #B1F69F;
	color:black;
	text-align:center;
	padding:3px;
}
.editerror
{
    background-color: #BFFFBF;
	color:red;
	font-weight:bold;
    }
.editok
{
    background-color: lime;
	color:black;
	font-weight:bold;
    }
/*----------------end edit table --------------------*/

