.suggestionsTable
{
    border-bottom:solid 1px #777;
    border-left:solid 1px #777;
    border-right:solid 1px #777;
	background-color:white;	
	font-family:Tahoma;
	font-size:8.3pt;
	width:100%;
}
.suggestionsTr
{
    background-color:white;
        }
.suggestionsTd
{
    background-color:white;
    border-bottom:solid 1px #bdc7d8;
    }
.titleTr, .titleTd{		
	font-weight:bold;		
}
.commentsTr, .commentsTd{		
	font-weight:normal;
	font-size:small;
	padding-left:10px;
	font-size:9px;
	color:#777;
}
.suggestionsHilightedTr{
	background-color:#3b5998;			
	cursor:pointer;
	color:White;
}
.hilighted{
	background-color:#bdc7d8;
	font-weight:bold;		
}

/*------------------------blue-----------------------*/
.suggestionsTr-green
{
    background-color:white;
        }
.suggestionsTd-green
{
    background-color:white;
    border-bottom:dotted 1px #FF0000;
    }
.titleTr-green, .titleTd-green{		
	font-weight:bold;		
	color:#CC0000;
}
.commentsTr-green, .commentsTd-green{		
	font-weight:normal;
	font-size:small;
	padding-left:10px;
	font-size:9px;
	color:#00CC00;
}
.suggestionsHilightedTr-green{
	background-color:#FFFF99;			
	cursor:pointer;
}
/*--------------------*/
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }