<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" 
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=EasyPersistDemo;Persist Security Info=True;User ID=sa;Password=z" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
        <add name="HttpPostLocalhost"/>
      </protocols>
    </webServices>
  </system.web>
  
</configuration>
